<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/header.ejs')%>

    <section class="container">
        <%- include('partials/navbar.ejs') %>
        <article class="content">
            <h1>Serviços</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis id quisquam sequi officiis unde, eveniet porro corrupti modi quas nesciunt sint! Est corporis, tempora similique nisi officia ipsum natus animi!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, quis! Rem reprehenderit maxime sint aut ducimus, aperiam quam, corrupti aliquam ut est perferendis corporis dolorem ullam alias neque, vel culpa.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, autem ducimus? Alias, laboriosam ab. Totam accusantium dicta dignissimos. Vero recusandae autem dolore repellat saepe sapiente ea modi ab dolor earum?</p>
        </article>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs') %>
</body>
</html>